{{ main-layout}}


  <h1>Welcome to our Social Media Scheduler!</h1>
  <p>Create an account to start scheduling and managing your social media posts.</p>
  <div class="buttons">
    <a href="views/register" class="btn">Sign Up</a>
    <a href="/login" class="btn btn-secondary">Login</a>
  </div>

