{{#extends "layouts/main"}}

{{#content "body"}}
  <section class="hero">
    <h1>Welcome to the Social Media Scheduler App!</h1>
    <p>Effortlessly schedule and manage your social media posts.</p>
    {{#if logged_in}}
      <a href="/dashboard" class="btn">Get Started</a>
    {{else}}
      <a href="/auth/register" class="btn">Sign Up</a>
    {{/if}}
  </section>
{{/content}}
