{{ main-layout}}

<h2>Login</h2>
<form action="api/auth/login" method="POST">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div class="forgot-password-link">
    <p>Don't have an account? <a href="/views/register">Register</a></p>
    <p>Forgot your password? <a href="/views/resetPasswordRequest">Reset Password</a></p>
  </div>
  <button type="submit" class="btn">Login</button>
</form>