{{> main-layout}}

<h1>Reset Password</h1>
<form action="/auth/reset-password" method="POST">
  <input type="hidden" name="token" value="{{token}}">
  <label for="password">New Password:</label>
  <input type="password" id="password" name="password" required>
  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" required>
  <button type="submit" class="btn">Reset Password</button>
</form>
