<head>
  <title>Reset Password Request</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/styles.css">
  <link rel="icon" href="assets/images/logo.png" type="image/icon type">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto+Condensed&display=swap"
    rel="stylesheet">
</head>


<body>
  {{> header}} 
<div class="container">
    <div class="custom-form">
      <h1 class="title is-4">Reset Password Request</h1>
      <form action="/api/auth/reset-password" method="POST">
        <div class="field">
          <label for="email" class="label">Email:</label>
          <div class="control">
            <input type="email" id="email" name="email" class="input" required>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button type="submit" class="button is-black">Reset Password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>